<%-include('./includes/header.ejs') %>

<%-include('./includes/nav.ejs') %>

<div class="container" style="width:40%; margin:0 auto;" >

  <h1>Reset Password</h1>

  
  <form action="/new-password" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input type="hidden" name="userId" value="<%= userId %>" />
    <input type="hidden" name="token" value="<%= token %>" />
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="password">New Password</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="New Password">
        </div>

      <div class="mb-3"></div>

      <button type="submit" class="btn btn-dark">
          Reset Password
        </button>
    </form>
</div>

<%-include('./includes/footer.ejs') %>
    