<%-include('./includes/header.ejs') %>

<%-include('./includes/nav.ejs') %>

      <div class="container">
          <div class="row mb-3 text-center">

            <div class="col-md-3">
                <h1>Date</h1>
            </div>
            <div class="col-md-3">
                <h1>Product Name</h1>
            </div>
            <div class="col-md-3">
                <h1>Quantity</h1>
            </div>

          </div>

         <% for (let product of products){ %>
            <div class="row mb-3 text-center">

                <div class="col-md-3">
                    <h5><%= product.orderDate %>  </h5>
                </div>
                <div class="col-md-3">
                    <h5><%= product.productName %>  </h5>
                </div>
                <div class="col-md-3">
                    <h5> &times; <%= product.quantity %> </h5> 
                </div>
                <div class="col-md-2">
                    <a href= <%= "/orders/" + product._id %> class="btn text-white btn-dark">Invoice</a>
                </div>
    
    
              </div>
            <% } %>
      </div>


<%-include('./includes/footer.ejs') %>
